<div class="container">
  <div class="row">
    <div class="col-6 offset-3 py-3">
      <% @result.each do |r| %>
        <%= r %><br>
      <% end %>
    </div>
  </div>
  <div class="col-12">
    <% @recipes.each_with_index do |recipe, index| %>
      <div class="row">
        <div class="col-6">
          <p>
            <%= recipe.name %><br>
            <%= recipe.category %><br>
            <%= recipe.url %><br>
          </p>
          <p>
            <% nutrient_hash = Hash.new(0) %>
            <% recipe.data["recipe"]["totalDaily"].each do |_, nutrient| %>
              <%= nutrient["label"] %>: <%= nutrient["quantity"].round %>%<br>
              <% nutrient_hash[nutrient["label"]] = nutrient["quantity"] %>
            <% end %>
          </p>
        </div>
        <div class="col-6">
          <% key_nutrient_hash = { Fat: recipe.fat, Carbs: recipe.carbs, Protein: recipe.protein } %>
          <%= pie_chart key_nutrient_hash, donut: true, defer: true %>
          <%= column_chart nutrient_hash, defer: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>
