<% @result.each do |r| %>
  <%= r %><br>
<% end %>

<% @recipes.each_with_index do |recipe, index| %>
  <% if index < 5 %>
    <p>
      <%= recipe.name %><br>
      <%= recipe.category %><br>
      <%= recipe.url %><br>
    </p>
    <p>
      <% nutrient_hash = Hash.new(0) %>
      <% recipe.data["recipe"]["totalDaily"].each do |_, nutrient| %>
        <%= nutrient["label"] %>: <%= nutrient["quantity"].round %>%<br>
        <% nutrient_hash[nutrient["label"]] = nutrient["quantity"] %>
      <% end %>
      <% key_nutrient_hash = { Fat: recipe.fat, Carbs: recipe.carbs, Protein: recipe.protein } %>
      <%= pie_chart key_nutrient_hash, donut: true, defer: true %>
      <%= column_chart nutrient_hash, defer: true %>
    </p>
  <% end %>
<% end %>
