<% @ingredients.each do |ingredient| %>
  <p>
    <%= ingredient.name %><br>
  </p>
  <p>
    Energy: <%= ingredient.energy %><br>
    Carbohydrates: <%= ingredient.carbs %><br>
    Fat: <%= ingredient.fat %><br>
    Protein: <%= ingredient.protein %><br>
    Fibre: <%= ingredient.fibre %>
  </p>
  <% nutrition = { Carbohydrates: ingredient.carbs, Fat: ingredient.fat, Protein: ingredient.protein } %>
  <%= pie_chart nutrition, donut: true, defer: true %>
<% end %>
